*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: azure;
}
ul{
    list-style: none;
    padding-top: 2%;

}
li{
    display: inline;
    margin-inline: 1vw;
    border: 0.14vw solid white;
    padding: 0.5vw;
    
   
}
header{
    background-color: #383E4C;
    text-align: center;
    height: 5vw;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
}
.primer{
    text-align: center;
    background-image: url("../img/2.jpg");
    background-color: transparent;
    height: 12.2vw;
}
.re{
    padding-top: 0.8em;
    font-size: 2vw;
    color: white;
    text-shadow: 3px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif
}
.segundo{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 40px;
    justify-content: center;
    font-size: 1.2vw;
}
.cream{
    margin: 10px;
    text-align: center;
    background-color: linen;
    
}
h1{
    padding-top: 2%;
}
p{
    padding: 4%;
}
#c1{
    flex-grow: 1;
    max-width: 30%;
}
#c2{
    flex-grow: 1;
    max-width: 30%;
}
#c3{
    flex-grow: 1;
    max-width: 30%;
}
#c4{
    flex-grow: 2;
    max-width: 45%;
}

#c5{
    flex-grow: 2;
    max-width: 45%;
}
.buttong{
    background-color: green;
    width: 30%;
    border-radius: 7px;
    margin: 2px auto 10px auto;
    padding: 2% 10%;
    color: white;
}
.buttonb{
    background-color: cornflowerblue;
    width: 30%;
    border-radius: 7px;
    margin: 2px auto 2px auto;
    padding: 2% 10%;
    color: white;
}
.buttonr{
    background-color: darkred;
    width: 30%;
    border-radius: 7px;
    margin: 2px auto 2px auto;
    padding: 2% 10%;
    color: white;
}
.buttonw{
    background-color: white;
    width: 30%;
    border-radius: 7px;
    margin: 2px auto 2px auto;
    padding: 2% 5%;
    color: black;
    border: 1px solid black;
}
.h1r{
    color: darkred;
}
.h1g{
    color: green;
}
.h1b{
    color: cornflowerblue;
}
.tercero{
    background-image: url("../img/4.jpg");
    height: 200px
}
.divter{
    margin: 10px auto 10px auto;
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 20px;
    max-width: 75%;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
.cuarto{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    max-width: 100%;
}
#g1{
    flex-grow: 1;
    max-width: 23%;
}
#g2{
    flex-grow: 1;
    max-width: 23%;
}
#g3{
    flex-grow: 1;
    max-width: 23%;
}
#g4{
    flex-grow: 1;
    max-width: 23%;
}
.divqui{
    max-width: 85%;
    margin: 10px auto;
    text-align: center;
    background-color: linen;
}
.pquin{
    padding: 1%;
    
}
.buttonw2{
    background-color: white;
    width: 8%;
    border-radius: 7px;
    margin: 2px auto 2px auto;
    padding: 1% 1%;
    color: black;
    border: 1px solid black;
}
.terp{
    padding-top: 0.5%;
}